<div class="purchase-offer-background">
  <div class="purchase-offer-form">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-name">Add a purchase offer</div>

      <div class="topic">
        <app-text-input
          formControlName="topic"
          [label]="'Topic'"
          [maxLength]="30"
        ></app-text-input>
      </div>

      <div class="description">
        <app-text-area
          formControlName="description"
          [label]="'Description'"
          [rows]="6"
          [maxLength]="150"
        ></app-text-area>

      @if (form.controls['description'].hasError('maxParagraphs') && form.controls['description'].touched) {
      <mat-error>
      You can add a maximum of 6 paragraphs.
      (currently: {{ form.controls['description'].getError('maxParagraphs').actual }})
      </mat-error>
      }

      </div>

     <div class="model">
        <app-models-autocomplete
          formControlName="model"
          label="Select model">
          @if (form.controls['model'].hasError('required')) {
      <mat-error>
        Model is required.
      </mat-error>
    }
        </app-models-autocomplete>
      </div>

      <div class="buttons">
        <button
          class="save-button"
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Save
        </button>

        <button
          class="cancel-button"
          mat-raised-button
          color="warn"
          type="button"
          (click)="clearForm()"
        >
          Cancel
        </button>
      </div>

      @if (saving()) {
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      }
    </form>
  </div>
</div>
