<div
  class="purchase-offer-filter-side-panel"
  [formGroup]="filterOffersForm"
  [class.show]="visible()"
>
  <button mat-raised-button (click)="toggleFilters()">Hide filters</button>

  @if (appliedFilters().length > 0) {
  <div class="purchase-offer-applied-filters">
    <div class="purchase-offer-applied-filters__header">
      <h3>APPLIED FILTERS</h3>
      <button mat-raised-button (click)="this.filterOffersForm.reset()">
        Clear all
      </button>
    </div>
    <app-chips
      [chips]="appliedFilters()"
      (removed)="onChipRemoved($event)"
    ></app-chips>
  </div>
  }


  @if (this.brandService.brandOptions.value().length > 0) {
  <app-autocomplete
    label="Brand"
    [options]="this.brandService.brandOptions.value()"
    formControlName="brand"
  >
  </app-autocomplete>
  }



  <app-models-autocomplete formControlName="model"> </app-models-autocomplete>


  <button mat-raised-button (click)="applyFilters()">Apply filters</button>
</div>
