.contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  
  .contact {
    width: 40%;
    padding: 5%;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: gray;
    margin: 0 auto;
    min-height: 30vh;
    
    .email-container {
      font-size: 1vw;
      color: black;
      margin-top: 3%;
    }
    
    .home-button {
      margin-top: 5%;
    }
  }
  