<mat-toolbar color="primary">
  <!--Powrót na stronę główną-->
  <a mat-button class="title" href="/">HOME</a>


  <div class="offers-buttons">
   <!--Button do ofert sprzedaży-->
  <a
   mat-button
    [routerLink]="['/offers-list']"
    routerLinkActive="router-link-active"
    >Offer$
  </a>
  
  <!-- Button do ofert zakupu, trzeba zmienic routing-->
  <a
  mat-button
   [routerLink]="['/offers-list']"
   routerLinkActive="router-link-active"
   >Purchase offer$
 </a>
</div>

 <div class="add-offer-buttons">
      <!-- Routing do dodawania ofert sprzedaży widoczny po zalogowaniu-->
      <a
      mat-button
      [routerLink]="['/webapi']"
      *ngIf="loginDisplay"
      routerLinkActive="router-link-active"
      >Add sales offer</a
    >
      <!-- Routing do dodawania ofert zakupu, widoczny po zalogowaniu-->
      <a
      mat-button
      [routerLink]="['/webapi']"
      *ngIf="loginDisplay"
      routerLinkActive="router-link-active"
      >Add purschase offer</a
    >
 </div>
  
 
   <!-- Odstęp w toolbarze-->
  <div class="toolbar-spacer"></div>

  <div class="flex-stretch"></div>

  

  <!-- Routing do buttona profilu, widoczny po zalogowaniu-->
  <a
  mat-button
  [routerLink]="['/profile']"
  *ngIf="loginDisplay"
  routerLinkActive="router-link-active"
  class="profile-btn"
>Profile</a>


  <!-- Przycisk do logowania, widoczny przed zalogowaniem-->
  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">
    Login
  </button>
  
  <!-- Przycisk do wylogowania, widoczny po zalogowaniu-->
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">
    Logout
  </button>

  <!-- Przycisk do zmiany kolorów strony?-->
  <button mat-icon-button [mat-menu-trigger-for]="themeMenu">
    <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
  </button>



  <mat-menu #themeMenu="matMenu">
    @for (theme of themeService.getThemes(); track theme.name) {
    <button
      [class.selected-theme]="themeService.selectedTheme()?.name === theme.name"
      mat-menu-item
      (click)="themeService.setTheme(theme.name)"
    >
      <mat-icon>{{ theme.icon }}</mat-icon>
      <span>{{ theme.name | titlecase }}</span>
    </button>
    }
  </mat-menu>
</mat-toolbar>
