@use "@angular/material" as mat;

mat-toolbar.header-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1001;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left-buttons,
.middle-buttons,
.right-buttons {
  display: flex;
  align-items: center;
  height: 100%;
}

.left-buttons {
  flex: 0 0 auto;
}

.middle-buttons {
  flex: 1 0 auto;
  justify-content: center;
}

.right-buttons {
  flex: 0 0 auto;
  justify-content: flex-end;
}
