@use "@angular/material" as mat;

mat-toolbar.header-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background: white;
  z-index: 1001;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left-buttons,
.right-buttons {
  display: flex;
  align-items: center;
  height: 100%;
   min-width: 150px;
}

.left-buttons {
  flex: 0 0 auto;
}

.middle-buttons {
  flex: 1 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}

.right-buttons {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.search-bar {
  max-width: 270px; 
  width: 100%;
  margin: 0 2rem;
}

