.nike-sale-offers {
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  background: #fafafa;

  &__header {
    text-align: center;
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1.25rem;
      font-weight: 500;
      color: #333;
      margin: 0;
      line-height: 1.2;
    }
  }

  &__grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    &-item {
      aspect-ratio: 3 / 4;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
