<div class="home">
  <img src="assets/bodyground2.png" alt="Background" class="home__image" />

  <div class="home__offers home__offers--left">
    <app-sale-offers-adidas class="home__offer-item"></app-sale-offers-adidas>
    <app-sale-offers-nike class="home__offer-item"></app-sale-offers-nike>
  </div>

  <div class="home__offers home__offers--right">
    <app-sale-offers-jordan class="home__offer-item"></app-sale-offers-jordan>
    <app-sale-offers-lacoste class="home__offer-item"></app-sale-offers-lacoste>
  </div>
</div>
