.select-form-field {
  width: 100%;
}

.custom-select__clear {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
