<div
  class="sale-offer-filter-side-panel"
  [formGroup]="filterOffersForm"
  [class.show]="visible()"
>
  <button mat-raised-button (click)="toggleFilters()">Hide filters</button>

  @if (appliedFilters().length > 0) {
  <div class="sale-offer-applied-filters">
    <div class="sale-offer-applied-filters__header">
      <h3>APPLIED FILTERS</h3>
      <button mat-raised-button (click)="this.filterOffersForm.reset()">
        Clear all
      </button>
    </div>
    <app-chips
      [chips]="appliedFilters()"
      (removed)="onChipRemoved($event)"
    ></app-chips>
  </div>
  }
  <app-select
    label="Product category"
    formControlName="productCategory"
    [options]="this.productCategoryService.productCategoriesOptions.value()"
  >
  </app-select>

  @if (this.brandService.brandOptions.value().length > 0) {
  <app-autocomplete
    label="Brand"
    [options]="this.brandService.brandOptions.value()"
    formControlName="brand"
  >
  </app-autocomplete>
  }

  <app-select
    label="Item condition"
    formControlName="itemCondition"
    [options]="this.itemConditionService.itemConditionOptions.value()"
  >
  </app-select>

  <app-select
    label="Colour"
    formControlName="colour"
    [options]="this.colourService.colourOptions.value()"
  >
  </app-select>

  <app-models-autocomplete formControlName="model"> </app-models-autocomplete>

  @if ( this.sizeService.sizeOptions.value().length !== 0) {
  <app-select
    label="Size"
    formControlName="size"
    [options]="this.sizeService.sizeOptions.value()"
  >
  </app-select>
  }

  <button mat-raised-button (click)="applyFilters()">Apply filters</button>
</div>
