.offer-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 150px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__price,
  &__model {
    width: 100%;
    text-align: center;
    margin: 0.25rem 0;
    font-size: 0.85rem;
  }

  &__price {
    font-weight: 600;
  }

  &__model {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
  }
}
