<mat-form-field class="text-area-form-field" appearance="outline">
  <mat-label>Description</mat-label>
  <textarea
    matInput
    [formControl]="formControl"
    [rows]="rows()"
    [attr.maxlength]="maxLength() ? maxLength() : null"
  >
  </textarea>
  @if (maxLength()) {
  <mat-hint align="end">
    {{ formControl.value?.length || 0 }} / {{ maxLength() }}
  </mat-hint>
  } @if (!isValid()) {
  <mat-error>
    @if (formControl.hasError('required')) {
    <mat-error> {{ label() }} is required. </mat-error>
    } @if (formControl.hasError('maxlength')) {
    <mat-error>
      {{ label() }} can contain maximum
      {{ formControl?.errors?.['maxlength'].requiredLength }} characters.
    </mat-error>
    }
  </mat-error>
  }
</mat-form-field>
