$primary-color: #667eea;
$text-color: black;
$background-color: white;
$hover-background-color: #99aaf5;

$border-color: #e2e8f0;
$box-shadow-color: rgba(102, 126, 234, 0.1);

$button-background-color: black;
$button-text-color: white;

$side-panel-box-shadow-color: rgba(0, 0, 0, 0.5);

$chips-background-color: #e0e0e0;

$card-box-shadow: rgba(0, 0, 0, 0.1);
