<div class="background-wrapper">
  <div class="saleofferform">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-name">Add a sale offer</div>

<div class="topic">
  <app-text-input
    formControlName="topic"
    [label]="'Topic'"
    [maxLength]="30"
  ></app-text-input>
</div>

<div class="description">
  <app-text-area
    formControlName="description"
    [label]="'Description'"
    [rows]="7"
    [maxLength]="200"
  ></app-text-area>
</div>

      <div class="details-item">
        <app-models-autocomplete formControlName="model" label="Select model">
          <mat-error *ngIf="form.controls['model'].hasError('required')">
            Model is required.
          </mat-error>
        </app-models-autocomplete>

        <app-select
          label="Size"
          formControlName="size"
          [options]="sizeService.sizeOptions.value()">
        </app-select>

        <app-select
          label="Item condition"
          formControlName="itemCondition"
          [options]="itemConditionService.itemConditionOptions.value()">
        </app-select>

        <app-select
          label="Delivery Type"
          formControlName="deliveryType"
          [options]="deliveryTypeService.deliveryTypeOptions.value()">
        </app-select>

        <app-select
          label="Payment Type"
          formControlName="paymentType"
          [options]="paymentTypeService.paymentTypeOptions.value()">
        </app-select>

        <app-multiselect
          label="Colours"
          [options]="colourService.colourOptions.value()"
          formControlName="colour">
        </app-multiselect>
      </div>
    
      <div class="quantityandprice">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity" />
          <mat-error *ngIf="form.controls['quantity'].hasError('required')">
            Quanity is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Price Amount</mat-label>
          <input matInput formControlName="priceAmount" />
          <mat-error *ngIf="form.controls['priceAmount'].hasError('required')">
            Price amount is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Currency</mat-label>
          <input matInput formControlName="priceCurrency" readonly />
        </mat-form-field>
      </div>

      <div class="upload-button">
        <button
          mat-icon-button
          color="accent"
          type="button"
          (click)="fileInput.click()"
        >
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
      </div>

      <div class="buttons">
        <button
          class="save-button"
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Save
        </button>

        <button
          class="cancel-button"
          mat-raised-button
          color="warn"
          routerLink="/saleofferform"
          type="button"
          (click)="clearForm()"
        >
          Cancel
        </button>
      </div>

      <input
        type="file"
        style="display: none"
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
      />
    </form>

    <ng-container *ngIf="saving()">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </ng-container>
  </div>
</div>
