<div class="container">
  <header>
    <h1>Welcome to Uniqueshit!</h1>
    <p>
      This is where fashion meets community! Our goal is to create a friendly platform, where every clothing lover can easily buy or sell new and used items from respected brands.
    </p>
  </header>

  <section class="offers">
    <h2>What do we offer?</h2>
    <ul>
      <li><strong>Add offers instantly:</strong> In just a few moments you will publish an offer to sell or search for your dream wardrobe item.</li>
      <li><strong>Photo gallery:</strong> You can provide each product with professional photos that will highlight your offer and attract buyers' attention.</li>
      <li><strong>Direct communication:</strong> Thanks to the built-in chat, you can contact other users, clarify all the details of the transaction and quickly arrange a sale or exchange.</li>
      <li><strong>Proven brands:</strong> Here you will find both classic designs from top designers and unique second-hand gems.</li>
    </ul>
  </section>

  <section class="contact">
    <h2>Contact us below</h2>
    <p>
      <a href="mailto:contact@uniqueshit.com" aria-label="Send email to contact@uniqueshit.com">add-email-here&#64;email.com
</a>

    </p>
  </section>

  <div class="home-button">
    <button mat-stroked-button [routerLink]="['']" routerLinkActive="router-link-active">
      Home
    </button>
  </div>
</div>
