@if (purchaseOffer(); as offer) {
  <mat-card class="purchase-offer-card">
    <mat-card-content class="purchase-offer-card__content">
      <div class="purchase-offer-card__description">
        {{ offer.description }}
      </div>
    </mat-card-content>
    <mat-card-actions class="purchase-offer-card__actions">
      <span class="purchase-offer-card__model">
        {{ offer.model.name }}
      </span>
      <span class="purchase-offer-card__user-displayName">
        {{ offer.user.displayName }}
      </span>
    </mat-card-actions>
  </mat-card>
}
