.purchase-offer-card {
  width: 100%;
  max-width: 430px;
  min-height: 180px;
  background-color: #000000e8;
  color: #fff;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__content {
    flex: 1;
    padding: 8px;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.4em;
    font-weight: 600;
    color: #fff;
    padding: 2px;
    box-sizing: border-box;
    white-space: pre-line;
    overflow-wrap: break-word;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 768px) {
      font-size: 0.75rem;
      padding: 0 6px;
    }
  }

  &__actions {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      padding: 12px;
    }
  }

  &__model {
    font-weight: 600;
    color: whitesmoke;
    padding-left: 3px;

    @media screen and (max-width: 768px) {
      font-size: 0.85rem;
      padding-left: 5px;
    }
  }

  &__user-displayName {
    font-weight: 600;
    font-style: italic;
    color: goldenrod;
    padding-right: 3px;

    @media screen and (max-width: 768px) {
      font-size: 0.85rem;
      padding-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .purchase-offer-card {
    min-height: auto;
    border-radius: 0;
    border: 1px solid transparent;
  }
}
