.purchase-offer-card {
  width: 100%;
  max-width: 430px;
  min-height: 180px;
  background-color: #f8fbfd;
   color: #333;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  &__content {
    flex: 1;
    padding: 8px;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.4em;
    font-weight: 600;
    font-style: italic;
    color: #444;
    padding: 2px;
    box-sizing: border-box;
    white-space: pre-line;
    overflow-wrap: break-word;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 768px) {
      font-size: 0.70rem;
      padding: 0 6px;
    }

      @media screen and (max-width: 360px) {
      font-size: 0.65rem; 
      padding: 0 1px;
    }
  }

  &__actions {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #2a6f97;

    @media screen and (max-width: 768px) {
      padding: 12px;
    }
  }

  &__model {
    font-weight: 600;
      color: #2a6f97; 
    padding-left: 3px;

    @media screen and (max-width: 768px) {
      font-size: 0.75rem;
      padding-left: 5px;
    }
  }

  &__user-displayName {
    font-weight: 600;
    font-style: italic;
     color: #d08c5a; 
    padding-right: 3px;

    @media screen and (max-width: 768px) {
      font-size: 0.75rem;
      padding-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .purchase-offer-card {
    min-height: 100;
    border-radius: 8;
    border: 1px solid transparent;
  }
}
