@import "../../../../styles/variables.scss";

/* filepath: c:\Users\karol\source\repos\unique-shit-web\src\app\shared\components\autocomplete\autocomplete.component.scss */
.autocomplete {
  display: flex;
  flex-direction: column;
  position: relative;

  .autocomplete-label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: $text-color;
    background: $background-color;
    padding: 0 5px;
    z-index: 2;
  }
  input {
    min-width: 200px;
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid $border-color;
    font-size: 1rem;
    background: $background-color;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 3px $box-shadow-color;
    }
  }

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $background-color;
    border: 2px solid $border-color;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    cursor: pointer;

    /* Hide scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    &::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }

    li {
      padding: 8px 15px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $hover-background-color;
      }
    }
  }
}
