@use "tailwindcss";
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      primary: mat.$azure-palette,
      typography: Roboto,
      density: -1,
    )
  );
}

html,
body {
  height: 100%;

  --primary-color: #3f51b5;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

// Tailwind conflicts with Angular Material css class
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-bottom-align::before {
  display: block !important;
  height: 3px !important;
}

:root {
  @include mat.form-field-overrides(
    (
      filled-container-color: white,
    )
  );

  @include mat.select-overrides(
    (
      placeholder-text-color: black,
      enabled-trigger-text-color: black,
      panel-background-color: white,
    )
  );

  @include mat.autocomplete-overrides(
    (
      background-color: white,
    )
  );

  @include mat.menu-overrides(
    (
      container-color: white,
    )
  );
}
