<div class="offer-card">
  <div class="offer-card__image">
    <img [src]="'https://picsum.photos/300/200'" alt="Offer Image" />
  </div>
  <div class="offer-card__content">
    <h3 class="offer-card__topic">{{ offer().topic }}</h3>
    <div class="offer-card__content__row">
      <p class="offer-card__price">
        {{ offer().price.value }} {{ offer().price.currency }}
      </p>
      <p class="offer-card__condition">{{ offer().itemCondition.name }}</p>
    </div>
    <p class="offer-card__brand">{{ offer().brand.name }}</p>
    <p class="offer-card__model">{{ offer().model.name }}</p>
  </div>
</div>
