<div class="offer-card">
  <div class="offer-card__image">
    <img
      [src]="
        'https://files.oaiusercontent.com/file-NuKeX8HAizQSk7gmumPWJs?se=2025-03-22T20%3A08%3A15Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dcd31f4e8-4cf7-4b68-ae38-c2879fc92a55.webp&sig=VX1x1CAsviFziOLBY5ZF0Zc/eEx/xGDbijfVPlb3zeo%3D'
      "
      alt="Offer Image"
    />
  </div>
  <div class="offer-card__content">
    <h3 class="offer-card__topic">{{ offer().topic }}</h3>
    <div class="offer-card__content__row">
      <p class="offer-card__price">
        {{ offer().price.value }} {{ offer().price.currency }}
      </p>
      <p class="offer-card__condition">{{ offer().itemCondition.name }}</p>
    </div>
    <p class="offer-card__brand">{{ offer().brand.name }}</p>
    <p class="offer-card__model">{{ offer().model.name }}</p>
  </div>
</div>
