<app-offers-list-filters
  [visible]="filtersVisible()"
  (filtersToggled)="toggleFilters()"
></app-offers-list-filters>

<div class="offers-container" [class.dimmed]="filtersVisible()">
  <div class="offers-filter-toggle-container">
    <button mat-raised-button (click)="toggleFilters()">Show filters</button>
  </div>

  @if (offerService.offers.isLoading()) {
  <div>Loading ...</div>
  } @else {
  <div class="offers-grid-container">
    @for (offer of offerService.offers.value().items; track offer.id) {
    <app-offer-card [offer]="offer"></app-offer-card>
    } @if (offerService.offers.value().items.length === 0) {
    <div class="no-offers">No offers found</div>
    }
  </div>
  }
</div>
