<div class="offer-filter-side-panel" [class.show]="filtersVisible()">
  <app-filled-button
    text="Close filters"
    (buttonClick)="toggleFilters()"
  ></app-filled-button>

  @if (appliedFilters().length > 0) {
  <div class="offer-applied-filters">
    <h3>APPLIED FILTERS</h3>
    <app-chips
      [chips]="appliedFilters()"
      (removed)="onChipRemoved($event)"
    ></app-chips>
  </div>
  }

  <app-select
    #productCategorySelect
    label="Product category"
    [options]="this.productCategoryService.productCategoriesOptions.value()"
    (selectedOptionChanged)="onProductCategoryChange($event)"
  >
  </app-select>

  <app-autocomplete
    #brandAutocomplete
    label="Brands"
    placeholder="Search for brands"
    [options]="this.brandService.brandOptions.value()"
    (selectedOptionChanged)="onBrandSelected($event)"
  >
  </app-autocomplete>

  <app-select
    #itemConditionSelect
    label="Item condition"
    [options]="this.itemConditionService.itemConditionOptions.value()"
    (selectedOptionChanged)="onItemConditionChange($event)"
  >
  </app-select>

  <app-select
    #colourSelect
    label="Colour"
    [options]="this.colourService.colourOptions.value()"
    (selectedOptionChanged)="onColourChange($event)"
  >
  </app-select>

  <app-select
    #sizeSelect
    label="Size"
    [options]="this.sizeService.sizeOptions.value()"
    (selectedOptionChanged)="onSizeChange($event)"
    [hidden]="
      !this.sizeService.sizeOptions.value() ||
      this.sizeService.sizeOptions.value().length === 0
    "
  >
  </app-select>

  <app-filled-button [text]="'Apply'"></app-filled-button>
</div>

<div class="offers-container" [class.dimmed]="filtersVisible()">
  <div class="offers-filter-toggle-container">
    <app-filled-button
      text="Show filters"
      (buttonClick)="toggleFilters()"
    ></app-filled-button>
  </div>

  @if (offerService.isLoadingOffers()) {
  <div>Loading ...</div>
  } @else {
  <div class="offers-grid-container">
    @for (offer of offerService.offers().items; track offer.id) {
    <app-offer-card [offer]="offer"> </app-offer-card>
    }
  </div>
  }
</div>
