<mat-toolbar class="footer-toolbar">
  <div class="offers-row">
    <div class="offers-container">

      <div class="offer-section">
  <h2 class="offer-type">SALE OFFERS</h2>
  <div class="offers-columns">
    <div class="column">
          <app-sale-offers-button [brandId]="brandId.Jordan" label="Jordan"></app-sale-offers-button>
          <app-sale-offers-button [brandId]="brandId.Nike" label="Nike"></app-sale-offers-button>
          <app-sale-offers-button [brandId]="brandId.Adidas" label="Adidas"></app-sale-offers-button>
    </div>
    <div class="column">
          <app-sale-offers-button [productCategoryId]="productCategoryId.Hoodies" label="Hoodies"></app-sale-offers-button>
          <app-sale-offers-button [productCategoryId]="productCategoryId.Shoes" label="Shoes"></app-sale-offers-button>
          <app-sale-offers-button [productCategoryId]="productCategoryId.TShirts" label="T-shirts"></app-sale-offers-button>
    </div>
    </div>
    </div>

      <div class="offer-section">
        <h2 class="offer-type">PURCHASE OFFERS</h2>
        <div class="offers-columns">
          <div class="column">
            <app-purchase-offers-button [brandId]="brandId.Adidas" label="Adidas"> </app-purchase-offers-button>
            <app-purchase-offers-button [brandId]="brandId.Nike" label="Nike"> </app-purchase-offers-button>
            <app-purchase-offers-button [brandId]="brandId.Jordan" label="Jordan"> </app-purchase-offers-button>
          </div>
          <div class="column">
            <app-purchase-offers-button [brandId]="brandId.Lacoste" label="Lacoste"> </app-purchase-offers-button>
            <app-purchase-offers-button [brandId]="brandId.Polo" label="Polo"> </app-purchase-offers-button>
            <app-purchase-offers-button [brandId]="brandId.TheNorthFace" label="The North Face"> </app-purchase-offers-button>
          </div>
          </div>
        </div>
      </div>
    </div>

  <div class="links-row">
    <div class="footer-center">
      <button type="button" [routerLink]="['/regulations']" class="buttons">
        REGULATIONS
      </button>

      <button type="button" [routerLink]="['/about-us']" class="buttons">
        ABOUT US
      </button>
    </div>
  </div>
</mat-toolbar>
