mat-toolbar.footer-toolbar {
    min-height: 28px;
    padding: 0.15rem 0.5rem; 
    background: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .footer-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5.5rem;
    }
  }
  